# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/
ENV/
conda-meta/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db